# Function Basic Module and Package

In [1]:
# function luas
# p = panjang
# l = lebar
# luas = p x l
def func_luas(p,l):
    "function untuk menghitung luas"
    print(p*l)
                #return None

In [2]:
func_luas(20,2)

40

In [3]:
print(func_luas(20,2))

40
None

In [4]:
def func_luas2(p,l):
    "function untuk menghitung luas"
    return p*l # return value

luas = func_luas2(30,4)
print("Luas :",luas)

Luas : 120

In [5]:
print(func_luas2(30,4))

120

In [6]:
def printme( str ):
    "This prints a passed string into this function"
    print(str)
    return

In [7]:
hasil = printme("jessica")
print(hasil)

jessica
None

## Fuction pengecekan nilai ganjil atau genap

In [8]:
def cekbilangan(x):
    if x % 2:
        print("bilangan ganjil")
    else:
        print("bilangan genap")
    return;

print(cekbilangan(12))

bilangan genap
None

In [9]:
print(cekbilangan(11))

bilangan ganjil
None

# pass by reference vs value

In [10]:
listx = [9,8,7]
print(f"isi list {listx}")

isi list [9, 8, 7]

In [11]:
listx.append([0,1,2]) 
print(f"isi list terbaru setelah di append {listx}")
listx.append(10)
print(f"isi list terbaru setelah di append {listx}")

isi list terbaru setelah di append [9, 8, 7, [0, 1, 2]]
isi list terbaru setelah di append [9, 8, 7, [0, 1, 2], 10]

In [12]:
#function definition
def changeme(mylist):
    "This changes a passed list into this function"
    mylist = [1,2,3,4];
    print("Value inside the function: ",mylist)
    return

In [13]:
#call changeme function
mylist = [10,20,30];
changeme( mylist );
print("Values outside the function: ",mylist)

Value inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [14]:
def hitung(amt, disc, saldo):
    "hitung sisa saldo"
    saldo -= amt + disc
    print("hitung saldo selesai ",saldo)
    return

amt = 1000
disc = 10
saldo = 5000
hitung(amt, disc, saldo)

print(f'Nominal belanja : {amt}')
print(f'Discount : - {disc}')
print(f"Saldo Sekarang : {saldo}")

hitung saldo selesai  3990
Nominal belanja : 1000
Discount : - 10
Saldo Sekarang : 5000

## Fuction Arguments

* Required arguments / position arguments 
* Keyword arguments
* Default arguments
* Variable-length arguments

### Required Arguments

Required arguments adalah argumen yang diteruskan ke suatu fungsi dalam urutan posisi yang benar. Di sini, 
jumlah argumen dalam pemanggilan fungsi harus sama persis dengan function definition.

In [15]:
# Function definition is here
def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return;

# Now you can call printme function
printme("hello") # rubah parameter

hello

In [17]:
def func(name, job):
    print(name, 'is a', job)

func('Jack', 'developer')
#prints Jack is a developer

func('developer', 'Jack')

Jack is a developer
developer is a Jack

### Keyword Argument

Dalam hal ini, urutan argumen tidak lagi penting karena argumen dicocokkan dengan nama, bukan dengan posisi.

In [19]:
def printme( str ):
    "This prints a passed string into this function"
    print(str)
    return;

printme(str = "Hacktiv8")

Hacktiv8

In [20]:
def func(name, job):
    print(name, 'is a', job)

func(name='Jack', job='developer')

func(job='developer', name='Jack')

Jack is a developer
Jack is a developer

In [21]:
def printme(nama , intamt , fldisc):
    "This prints a passed string,int, float into this function"
    print(" Nama :",nama)
    print(" Amt  :", intamt ) 
    print(" Disc :",fldisc)
    return

printme(intamt = 10 , fldisc = 90.5 , nama = "Jessica" )

 Nama : Jessica
 Amt  : 10
 Disc : 90.5

### Default Arguments

Default argument adalah argumen yang mengasumsikan nilai default jika nilai tidak disediakan dalam pemanggilan 
fungsi untuk argumen tersebut.

In [22]:
def totalInvoice(name, amt, disc = 100):
    "This prints a passed into this function"
    print("Name: ", name)
    print("Amt: ", amt)
    print("Disc: ", disc)
    total = amt - disc
    print(10*"==")
    print("Total: ", total)
    return

In [23]:
print("Invoice : ",1)
totalInvoice(amt=50000, name="Hacktiv8", disc = 5000)
print("\n")
print(10*"###")
print("\n")
print("Invoice : ",2)
totalInvoice(name="hactiv", amt=10000)

Invoice :  1
Name:  Hacktiv8
Amt:  50000
Disc:  5000
====================
Total:  45000


##############################


Invoice :  2
Name:  hactiv
Amt:  10000
Disc:  100
====================
Total:  9900

### Variable-length arguments

Argumen ini disebut variable-length arguments dan tidak diberi nama 
ketika definisi fungsi, tidak seperti required dan default arguments.

In [24]:
# *args
def print_arguments(*args):
    print(type(args))
    print(args)

print_arguments(1, 54, 60, 8, 98, 12)

<class 'tuple'>
(1, 54, 60, 8, 98, 12)

In [28]:
def printinfo(arg1, *vartuple):
    "This prints a variable passed arguments"
    print("Output is: ")
    print(arg1)
    print(vartuple)
    print(type(vartuple))
    for var in vartuple:
        print(var)
    
    print("function done")
    return;

# Now you can call printinfo function
printinfo( 10 ) ## run here

Output is:
10
()
<class 'tuple'>
function done

In [29]:
printinfo( 70, 60, 50, "a" ) ## open remark ?

Output is:
70
(60, 50, 'a')
<class 'tuple'>
60
50
a
function done

In [30]:
printinfo(printinfo.__doc__) ## open remark ?

Output is:
This prints a variable passed arguments
()
<class 'tuple'>
function done

In [31]:
printinfo(1,"Hello", 12,4,5,6, "Apa kabar")

Output is:
1
('Hello', 12, 4, 5, 6, 'Apa kabar')
<class 'tuple'>
Hello
12
4
5
6
Apa kabar
function done

In [32]:
printinfo(1,"Hello", 12,4,5,6, 10 * 2)

Output is:
1
('Hello', 12, 4, 5, 6, 20)
<class 'tuple'>
Hello
12
4
5
6
20
function done

In [33]:
#dapat melakukan operasi  apa pun yang didukung oleh Tuple, seperti pengindeksan,
printinfo(1,"Hello", 12,4,5,6, set({1,5,2,0,4}))

Output is:
1
('Hello', 12, 4, 5, 6, {0, 1, 2, 4, 5})
<class 'tuple'>
Hello
12
4
5
6
{0, 1, 2, 4, 5}
function done

In [34]:
# *kwargs
def print_arguments(**kwargs):
    print(kwargs)

print_arguments(name='Jessica', age=21, job='student')

{'name': 'Jessica', 'age': 21, 'job': 'student'}

In [35]:
def add(x, y, *args, **kwargs):
    sum = x + y
    for a in args:
        sum += a
 
    for k, v in kwargs.items():
        sum += v
    return sum

In [36]:
total = add(1, 2, *(3, 4), **{"k1": 5, "k2": 6})
print(total)

21

In [ ]:
a = input("Masukkan nilai A : ")
print(type(a))
x, y = func(int(a),2)
print(f"Isi dari x : ", int(a))

In [37]:
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
a, b, c, d = arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)

Addition:  12
Subtraction:  8
Multiplication:  20
Division:  5.0

## The Return Statement

In [38]:
#Function definition is here
def sum(arg1, arg2):
    # Add both the parameters and return them."
    total = arg1 + arg2  # total = 30 
    total2 = total + arg1  # total2 = 30 + 10 = 40 
    print("Inside the function : ", total) # 30 
    return total2

#Now you can call sum function
total = sum(10, 20)
print("Outside the function : ", total)

Inside the function :  30
Outside the function :  40

### Return Multiple Values

In [39]:
#Return addition and subtraction in a tuple
def func(a, b):
    return a+b, a-b

result = func(3, 2)

print(result)
print(type(result))

(5, 1)
<class 'tuple'>

In [40]:
a , b, c = (10,20,30)
print(a)

10

In [41]:
a = input("Masukan Nilai A :")
print(type(a))
x, y = func(int(a),2)
print(f"Isi dari X : {x}" )
print(f"Isi dari Y : {y}" )

Masukan Nilai A :15
<class 'str'>
Isi dari X : 17
Isi dari Y : 13

## Scope of Variables

variabel lokal hanya dapat diakses di dalam fungsi yang dideklarasikan, sedangkan variabel global dapat diakses di seluruh badan program oleh semua fungsi. Saat kalian memanggil sebuah fungsi, variabel yang dideklarasikan di dalamnya akan dimasukkan ke dalam scopenya.

In [42]:
# Global variabel 
total = 10 

def  sum(arg1, arg2):
    " Add both the parameters and return them."
    total = arg1 + arg2
    print("Inside the function : ", total)
    return total

def min():
    return 
     

total = sum(10,20)
print("Outside the function global total : ", total)

Inside the function :  30
Outside the function global total :  30

In [43]:
jumlahKucing = 20

def jumlahHewan():
    jumlahAnjing = 30
    return jumlahKucing + jumlahAnjing

def jumlahHewan2():
    return jumlahKucing + jumlahKucing

hewan = jumlahHewan()
print(hewan)
hewan2 = jumlahHewan2()
print(hewan2)

50
40

## Nested Fuction

In [44]:
def outer(a,b):
    def inner(c, d):
        return c + d
    return inner(a, b)

result = outer(2,4)

print(result)

6

## Recursion

In [51]:
def countdown(num):  
    newnum = 0              
    if num <= 1: 
        print('Stop')
        newnum = num 
        #print(newvar)
        return newnum
    else:
        print(num)           
        newnum = countdown(num-1)
    
    return newnum

In [52]:
hasilakhir = countdown(4)
print(hasilakhir)

4
3
2
Stop
1

## Dictionary of Functions

In [54]:
#You can use this feature to implement jump table.
#Jump table is a dictionary of functions to be called on demand.
def findSquare(x):
    return x ** 2

def findCube(x):
    return x ** 3

#Create a dictionary of functions
exponent = {'square': findSquare, 'cube': findCube}

print(exponent['square'](3))
#Prints 9
print(exponent['cube'](3))
#Prints 27

9
27

## Python function executes at runtime

Karena Python memperlakukan def sebagai pernyataan yang dapat dieksekusi, itu bisa muncul di mana saja pernyataan normal bisa.
 
Misalnya, Anda dapat menyarangkan fungsi di dalam pernyataan if untuk memilih di antara definisi alternatif.

In [56]:
x = 0
if x:
    def hello():
        print('Hello, World!')
else:
    def hello():
        print('Hello, Universe!')

hello()
# Prints Hello, Universe!

Hello, Universe!

## Anonymous Function

In [55]:
sum = lambda arg1, arg2 : arg2 + arg2;

def sum1(arg1, arg2):
    return arg1 + arg2

print("Value of total :", sum(10,20))
print("Value of total :", sum1(10,20))

Value of total : 40
Value of total : 30

## Latihan membuat CRUD

In [57]:
# Variabel global untuk menyimpan data Buku
buku = []

# fungsi untuk menampilkan semua data
def show_data():
    if len(buku) <= 0:
        print ("BELUM ADA DATA")
    else:
        for indeks in range(len(buku)):
            print ("[%d] %s" % (indeks, buku[indeks]))


# fungsi untuk menambah data
def insert_data():
    buku_baru = input("Judul Buku: ")
    buku.append(buku_baru)

# fungsi untuk edit data
def edit_data():
    show_data()
    indeks = input("Inputkan ID buku: ")
    if(int(indeks) > len(buku)):
        print("ID salah")
    else:
        judul_baru = input("Judul baru: ")
        buku[int(indeks)] = judul_baru

# fungsi untuk menhapus data
def delete_data():
    show_data()
    indeks = input("Inputkan ID buku: ")
    if(int(indeks) > len(buku)):
        print ("ID salah")
    else:
        buku.remove(buku[int(indeks)])

# fungsi untuk menampilkan menu
def show_menu():
    print ("\n")
    print ("----------- MENU ----------")
    print ("[1] Show Data")
    print ("[2] Insert Data")
    print ("[3] Edit Data")
    print ("[4] Delete Data")
    print ("[5] Exit")
    
    menu =input("PILIH MENU> ")
    print ("\n")

    if int(menu) == 1:
        show_data()
    elif int(menu) == 2:
        insert_data()
    elif int(menu) == 3:
        edit_data()
    elif int(menu) == 4:
        delete_data()
    elif int(menu) == 5:
        exit()
    else:
        print ("Salah pilih!")

In [61]:
show_menu()

----------- MENU ----------
[1] Show Data
[2] Insert Data
[3] Edit Data
[4] Delete Data
[5] Exit
PILIH MENU> 1


[0] The Invisible Man

In [62]:
def formatrupiah(uang):
    y = str(uang)
    if len(y) <= 3 :
        return 'Rp ' + y
    else:
        p = y[-3:]
        q = y[:-3]
        return formatrupiah(q) + '.' + p
        print('Rp ' + formatrupiah(q) + '.' + p)

In [63]:
formatrupiah(100000)

'Rp 100.000'

## LATIHAN

Buatlah suatu fungsi numerik / angka menjadi huruf
contoh : pada saat di input 1000 maka akan mencetak : "seribu"

Input angka ? 100000 maka akan mencetak : "seratus ribu"

Gunakan Function Recursion 
Gunakan Operator Pembagi untuk mendapatkan bilang pertama ( Contoh 87 :  87 / 10 = 8 ) 
Dan gunakan Operator Modulus untuk mendapatkan bilang akhir  ( Contoh  87  :  87 % 10 = 7 )

In [66]:
def Terbilang(bil):
    angka = ["","Satu","Dua","Tiga","Empat","Lima","Enam",
             "Tujuh","Delapan","Sembilan","Sepuluh","Sebelas"]
    Hasil = " "
    n = int(bil)
    if n>= 0 and n <= 11:
        Hasil = angka[n]
    elif n <20:
        Hasil = Terbilang (n-10) + " Belas "
    elif n <100:
        Hasil = Terbilang (n/10) + " Puluh " + Terbilang (n%10)
    elif n <200:
        Hasil = " Seratus " + Terbilang (n-100)
    elif n <1000:
        Hasil = Terbilang (n/100) + " Ratus " + Terbilang (n%100)
    elif n <2000:
        Hasil = " Seribu " + Terbilang (n-1000)
    elif n <1000000:
        Hasil = Terbilang (n/1000) + " Ribu " + Terbilang (n%1000)
    elif n <1000000000:
        Hasil = Terbilang (n/1000000) + " Juta " + Terbilang (n%1000000)
    elif n <1000000000000:
        Hasil = Terbilang (n/1000000000) + " Milyar " + Terbilang (n%1000000000)
    elif n <1000000000000000:
        Hasil = Terbilang (n/1000000000000) + " Triliyun " + Terbilang (n%1000000000000)
    else:
        Hasil = "Angka Hanya sama Triliyun"

    return Hasil



huruf = Terbilang("87")
print(f"Terbilang : {huruf}")

Terbilang : Delapan Puluh Tujuh

In [67]:
huruf = Terbilang("19000")
print(f"Terbilang : {huruf}")

Terbilang : Sembilan Belas  Ribu

## Python Modules

 Ada tiga cara berbeda untuk mendefinisikan module dengan Python:

* Module dapat ditulis dengan bahasa Python itu sendiri.
* Module dapat ditulis dalam C dan di-load secara dinamis pada saat run-time, seperti modul  (ekspresi reguler).
* Built-in module secara intrinsik terdapat dalam interpreter, seperti modul itertools.