# Data Types

**Integers**

In [1]:
print(10)
print(type(10))

10
<class 'int'>

**Float**

In [6]:
print(4.2)
print(type(4.2))

print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

**Strings**

In [7]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [8]:
print('')

**Boolean**

In [9]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Membuat Variabel

In [10]:
n = 300
print(n)

300

In [11]:
n

300

In [ ]:
x = y = z = 1000

In [ ]:
print(x,y,z)

**Tipe variabel**

In [12]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

**Penamaan Variabel**

In [13]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [14]:
#nama variabel tidak boleh dengan angka
9_kepala_naga = True

SyntaxError: invalid decimal literal (<ipython-input-14-007cea625dd1>, line 2)

In [15]:
#Camel Case
numberOfCollegeGraduates = 100

#Pascal Case
NumberOfCollegeGraduates = 100

#Snake Case
number_of_college_graduates = 100

# Operators and Expressions

In [16]:
a = 10
b = 20
a + b

30

In [17]:
a = 10
b = 20
a + b - 5

25

**Arithmetic Operators**

In [18]:
a = 4
b = 3

print(a + b) #penjumlahan
print(a - b) #pengurangan
print(a * b) #perkalian
print(a / b) #pembagian
print(a % b) #modulus/sisa bagi
print(a ** b) #perpangkatan

7
1
12
1.3333333333333333
1
64

In [19]:
10 / 5

2.0

**Comparison Operators**

In [20]:
a = 10
b = 20

print(a == b) #sama dengan
print(a != b) #tidak sama dengan
print(a <= b) #kurang dari atau sama dengan
print(a >= b) #lebih dari atau sama dengan

False
True
True
False

# String Manipulation

In [21]:
# + operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)

print('Hacktiv8' + 'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [22]:
# * Operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [23]:
# in operators
s = 'foo'

print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [24]:
#Case conversion
s = 'HackTIV8'

#capitalize
print(s.capitalize())

#Lower
print(s.lower())

#Swapcase
print(s.swapcase())

#Title
print(s.title())

#Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

# Python Lists

In [25]:
# menggunakan kurung siku

a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

**Lists are ordered**

List merupakan objek yang berurutan

List dengan elemen yang sama dalam urutan yang berbeda, tidak sama

In [26]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

**List can contain arbirary objects**

In [27]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

**List elements can be accessed by index**

In [29]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[5])

print(a[-1])
print(a[-6])

foo
corge
corge
foo

In [30]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [31]:
print(a)

print(a + ['grault', 'garply'])

print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [32]:
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

**Modifying a Single List Value**

In [34]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [35]:
#delete a list item

del a[3]

print(a)

['foo', 'bar', 10, 'quux', 20]

**Modifying Multiple List Values**

In [37]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples

In [38]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [39]:
print(t[0])
print(t[-1])

foo
corge

In [40]:
#packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

# Python Dictionary

In [45]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

**Accessing Dictionary Values**

In [46]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [47]:
#adding an entry to an existing dictionary

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [48]:
#update an entry

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [49]:
#delete an entry

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

**Building a Dictionary Incrementally**

In [51]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['Children'] = ['Ralph', 'Betty', 'Joey']
person['Pets'] = {'dog' : 'Fido', 'cat' : 'Sox'}

In [52]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'Children': ['Ralph', 'Betty', 'Joey'],
 'Pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [54]:
print(person['Children'])
print(person['Children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [55]:
print(person['Pets'])
print(person['Pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [56]:
#Built-in Methods
d = {'a' : 10, 'b' : 20, 'c' : 30}

#items
print(d.items())

#keys
print(d.keys())

#values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])